@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
:root{
    --cor-principal: rgb(0, 0, 0);
    --cor-primaria: white;
    --cor-hover:rgb(70, 70, 70);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow:visible;
    font-family: 'Yeseva One';
    color: var(--cor-primaria);
    background: linear-gradient(95deg, #272727 16.62%,  rgb(81, 19, 114) 85.61%, rgb(108, 25, 126));
}
.voltarcomp{
    position: fixed;
    padding: 20px;
    bottom: 0;
}
.voltarcomp a button{
    font-family: 'Yeseva One';
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25) ;
    border-radius: 20px;
    background-color: blueviolet;
    color: var(--cor-primaria);
    font-size: 20px;
}
main{
    padding: 20px;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 220px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    border: 0.4px solid var(--cor-primaria);
    padding: 10px;
}
h2{
    font-size: 60px;
    font-weight: 1000;
}
p{
    padding-top: 30px;
    font-size: 20px;
}
section img{
    padding-top: 30px;
    height: 400px;
}
section p{
    max-width: 400px;
}
section div{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}