@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
:root{
    --cor-principal: rgb(0, 0, 0);
    --cor-primaria: white;
    --cor-hover:rgb(70, 70, 70);;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow:visible;
    font-family: 'Yeseva One';
    color: var(--cor-primaria);
    background: linear-gradient(95deg, #272727 16.62%,  rgb(81, 19, 114) 85.61%, rgb(108, 25, 126));
}
.voltarcomp{
    position: fixed;
    padding: 20px;
    bottom: 0;
}
.voltarcomp a button{
    font-family: 'Yeseva One';
    width: 180px;
    height: 60px;
    border: .4px solid var(--cor-primaria);
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25) ;
    border-radius: 20px;
    background-color: transparent;
    color: var(--cor-primaria);
    font-size: 20px;
    transition: 0.5s;
}
.voltarcomp a button:hover{
    font-size: 22px;
    height: 70px;
    width: 190px;
    background-color: blueviolet;
    box-shadow: 5px 5px 5px var(--cor-primaria);
    transition: 0.5s;
}
.VisaoGeral{
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    align-items: center;
    align-content: space-around;
}
.VisaoGeral:hover .VisaoGeral-Section{
    padding: 30px;
    border-radius: 20px;
}
.VisaoGeral:hover .VisaoGeral-Section div h2{
    font-size: 70px;
}
.VisaoGeral:hover .VisaoGeral-Section div p{
    font-size: 45px;
}

.VisaoGeral-Section{
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    border: 0.4px solid var(--cor-primaria);
    padding: 20px;
}
.VisaoGeral-Section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    gap: 30px;}
.VisaoGeral-Section div h2{
    font-size: 80px;
    padding-top: 10px;
}
.VisaoGeral-Section div p{
    transition: 0.5s;
    align-self: center;
    max-width: 90%;
    padding-bottom: 10px;
    font-size: 40px;
}

p{
    transition: .5s;
    font-size: 20px;
    max-width: 400px;
}
h2{
    transition: .5s;
    font-size: 60px;
}
.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
}
.secao-1{
    padding: 10px 100px;
    border: .4px solid var(--cor-primaria);
}
.secao-2{
    padding: 10px 100px;
    border: .4px solid var(--cor-primaria);
}
.secao-1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    gap: 30px;
}
.secao-2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    gap: 30px;
}
main section:hover{
    padding: 30px;
    border-radius: 20px;
}
main section:hover h2{
    font-size: 70px;
}
main section:hover p{
    font-size: 25px;
}
.secao-img{
    border: none;
}
header{
    transition: .5s;
}
section{
    transition: .5s;
}
div{
    transition: .5s;
}
img{
    transition: .5s;
}